.layout {
  display: flex;
  flex-direction: row;
  min-height: 80%;
  margin: 0 auto;
  max-width: 1224px;

  @include bp(medium) {
    // some safaris have trouble with this flex switch and both boxes are displayed over top one another
    // for debugging another day, inline rather than flex resolves the issue

    display: inline;
    // flex-direction: column;
  }
}

.layout__side {
  flex: 1;
  border-top: 2px solid $red;
  margin: 30px;
  min-width: 300px;
  max-width: 350px;

  @include bp(medium) {
    max-width: inherit;
    margin: 0;
  }
}

.layout__main {
  flex: 2;
  margin: 16px 24px 24px 6px;

  @include bp(medium) {
    margin: 0 24px 24px;
  }
}

.logo__header {
  min-height: 12px;
  border-bottom: solid 8px $red;

  &__logo {
    position: relative;
    padding: 10px 30px 0px 30px;

    img {
      width: 130px;
      height: 36px;
    }

    img.stars {
      position: absolute;
      right: 0;
      margin-right: 20px;
      width: 33px;
      height: 33px;
    }
  }

  &__donate {
    background-color: $red;

    @include bp(medium) {
      padding: 14px 10px 0 10px;
    }
  }

  &__donatebar {
    position: relative;
    width: 100%;
    height: 30px;
    margin: 12px 30px 0 30px;;
    background-color: white;
    border-radius: 15px;

    @include bp(medium) {
      margin: 0;
      // padding: 0 10px;
    }

    &__total {
      display: inline-block;
      min-width: 5%;
      height: 30px;
      background-color: $blue;
      border-radius: 15px;
      // border-bottom-left-radius: 15px;
      // border-top-left-radius: 15px;

      color: white;
      text-align: right;
      padding-right: 5px;
      line-height: 32px;
    }

    &__goal {
      position: absolute;
      right: 5px;
      display: inline-block;
      line-height: 32px;
    }
  }

  &__donatetext {
    line-height: inherit;
    margin: 5px 30px 0 0;

    // @include bp(medium) {
    //   margin: 0;
    // }

    a {
      color: white;
      font-size: $font-small;
      text-decoration: underline;
    }
  }
}

.callcount {
  clear: both;
  font-size: $font-xlarge;
  font-weight: bold;
  text-transform: uppercase;
  @include bp(small) {
    font-size: $font-large;
  }
}

.promote {
  p {
    font-size: $font-large;
    text-align: center;
  }
  a {
    cursor: pointer;
    display: inline-block;
    margin: 12px 12px 20px;
  }
}

.extras {
  &__title {
    margin: 24px auto 48px auto;
    max-width: 700px;
  
    font-size: 32px;
    font-weight: 100;
    font-style: italic;
    text-align: center;
  }

  &__band {
    width: 100%;
    clear: both;
    background-color: $blue;
    padding: 26px 0 30px 0;
  }

  ul {
    margin: 0;
    -webkit-padding-start: 0px;
  }

  li {
    list-style: none;
    width: 33%;
    float: left;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 500;

    @include bp(medium) {
      float: none;
      width: inherit;
    }

    .img-contain {
      height: 70px;
    }
  }
  
  .explainer {
    &__pick img {
      width: 250px;
      height: 69px;
      margin-top: 7px;
    }
  
    &__call img {
      width: 250px;
      height: 85px;
    }
  
    &__result img {
      width: 290px;
      height: 71px;
      margin-top: 7px;
    }
  }
  
  .articles {
    li {
      width: 25%;
  
      @include bp(medium) {
        width: inherit;
      }      
    }
    li img {
      width: 260px;
      height: 80px;
    }
  }

  &__tweets {
    margin: 80px 0;
    ul {
      li {
        text-align: left;
        padding: 0 30px;
        @include bp(medium) {
          margin: 30px 0;
        }          

        img {
          float: left;
          width: 42px;
          height: 42px;
        }

        p {
          margin-left: 48px;
          margin-bottom: 5px;
          color: $blue;

          font-style: italic;
          font-weight: 100;
          line-height: 1.2em;
        }

        .user {
          font-style: normal;
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }

  &__media {
    margin: 80px 0;
    // text-align: center;

    ul {
      // width: 800px;
      margin: 0 auto;
      li  {
        width: 33%;
        // margin: 0 10px;
        @include bp(medium) {
          width: inherit;
          margin: 20px 0;
        }      
  
        img {
          width: 250px;
        }  
      }
    }
  }
}

button {
  border: 0;
  margin: 1px;
  padding: 16px 0;
  text-transform: uppercase;
  background-color: $blue-light;
  text-align: center;

  &:hover {
    background-color: $red;
    cursor: pointer;
  }
}

.progress {
  position: relative;
  width: 100%;
  height: 20px;
  margin: 0 20px 10px 0;
  background-color: white;

  &__total {
    z-index: 2;
    position: relative;
    display: inline-block;
    min-width: 10%;
    height: 20px;
    background-color: $red;

    color: white;
    text-align: right;
    padding-right: 5px;
    line-height: 21px;
    border-radius: 5px;
  }

  &__goal {
    z-index: 1;
    position: absolute;
    text-align: right;
    width: 100%;
    text-align: right;
    height: 20px;
    padding-right: 5px;
    line-height: 21px;
    border-radius: 5px;
    color: $blue-light;
    border: 1px solid $blue-light;
  }
}

.progress__large {
  height: 25px;

  .progress__total {
    font-size: 20px;
    height: 25px;
    line-height: 26px;
  }

  .progress__goal {
    font-size: 20px;
    height: 25px;
    line-height: 25px;    
  }
}